NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_ASSET_URL=http://enome.test
NEXT_PUBLIC_MASTER_PASSWORD=35utech1995

DATABASE_URL=
JWT_SECRET=Qa44WHYWtfaG8BnplxtMfr5X3ZhwAFAKug4Ow/Tdjts=

NEXT_PUBLIC_GOOGLE_KEY_ID=

# SMTP Configuration for Reset Password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Enome Support <noreply@enome.test>
